.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper {
  width: 500px;
  background-color: var(--bgSoft);
  padding: 50px;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
}